@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #711F3C; 
    color: white;
    animation: slideIn 1s ease-in-out;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    padding-left: 15px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    float: none;
}

.navbar-nav .nav-link {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

nav a {
    color: #333;  
    text-decoration: none;
}

nav a:hover {
    color: #003388; 
}

footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 5px;
}

img {
    width: 100px;
    height: 75px;
    border-radius: 50%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.bounceIn {
    animation-name: bounceIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode nav {
    background-color: #444;
}

body.dark-mode .nav-link {
    color: #e0e0e0;
}

body.dark-mode footer {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

body.dark-mode #darkModeIcon {
    display: none;
}

body.dark-mode #lightModeIcon {
    display: inline-block;
    color: #ffdd57; /* yellow color for the sun icon */
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #711F3C;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
